
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    
}

    li {
      float: left;
    }

        li a {
            margin-left: 20px;
            display: block;
            color: white;
            font-style:italic;
            text-align: center;
            padding: 28px 25px;
            text-decoration: none;
			border: 1px solid white;
        }

       li a:hover {
          background-color: red;
          color: black;
       }

     a {
       margin-left: 130px
     }
  
